<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="Simplic.Data" version="1.5.118.1029" targetFramework="net451" />
  <package id="Simplic.Session" version="6.2.319.1011" targetFramework="net451" />
</packages>